# Composer
.composer
vendor/*
!*/vendor/*

# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*
user/data/*
!user/data/.*
user/plugins/*
!user/plugins/.*
user/themes/*
!user/themes/.*
user/localhost/config/security.yaml
user/config/security.yaml

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
user/config/security.yaml

tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log

##custom
/user/accounts
/user/config
/user/data
/user/plugins
/user/themes
/user/blueprints.yaml
/user/CHANGELOG.md
/user/LICENSE
/user/blueprints.yaml
/.travis.yml
/CHANGELOG.md
/CODE_OF_CONDUCT.md
/index.php
user/thumbnail.jpg
user/screenshot.jpg
composer.json
/composer.lock
/user/.gitignore
/cache/
/LICENSE.txt
/CONTRIBUTING.md
/codeception.yml	
user/README.md
images/
README.md
codeception.yml

/vendor
.htaccess
webserver-configs/
/tmp
tests
system
robots.txt
/backup
/assets
/logs
/bin

.dependencies
.editorconfig

